body{
  background-color: antiquewhite;
}
.App{
  background-color: black;
  border-radius: 10px;
  align-items: center;
  height: 50%;
  width: 500px;
  margin: auto;
  
}
.inputValue
{
  margin: auto;
  width: 500px;
  color: white;
  font-size: 80px;
  background-color: black;
  height: 170px;
  border-radius: 10px;
}

.Row
{
background-color: grey;
border-radius: 50%;
font-size: 30px;
height: 100px;
width: 100px;
padding: auto;
margin-top: 10px;
}

.Row:hover
{
background-color: orange;
}

.operators
{
background-color: orange;
border-radius: 50%;
font-size: 30px;
height: 100px;
width: 100px;
padding: auto;
margin-top: 10px;
color: white;
}

.operators:hover
{
background-color: white;
color: black;
}

.zero
{
background-color: grey;
border-radius: 34%;
font-size: 30px;
height: 100px;
width: 230px;
padding: auto;
margin-top: 10px;
}

.zero:hover
{
background-color: orange;
}